gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Fingerprints and signatures
*.jks
*.keystore
*.p12
*.key
android/app/upload-keystore.jks

# Firebase secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Local environment
.env
.flutter-plugins
.flutter-plugins-dependencies